<p id="notice"><%= notice %></p>

<h1>Listings</h1>


<%= form_tag listings_path, method: :get do %>
<p>Property Type
  <%= text_field_tag :property_type, params[:property_type]  %>
<p>
Price Range <br>
<%= number_field_tag :price, params[:price] %> to <%= number_field_tag :price1, params[:price1] %>

</p>
  <%= submit_tag "Search", :name => nil %>
</p>
<% end %>


<%= link_to 'New Listing', new_listing_path %>

<div class="container">
  <div class="row">
    <% @listings.each do |listing|%>
      <div class="col-xl">
          <div class="card" style="width: 18rem;">
          <% if listing.images.length != 0 %>
             <%= image_tag listing.images[0].thumb.url, class: 'card-img-top'%>
            <% else %>
              <img src="http://via.placeholder.com/400x400", class="card-img-top">
              <%# image_tag src="http://via.placeholder.com/400x400", class: 'card-img-top'%>
          <% end %>

              <div class="card-body">
                <h5 class="card-title"><%= listing.name %></h5>
                <p class="card-text">$<%= listing.price %></p>
                <a href="/listings/<%=listing.id%>" class="btn btn-primary">View</a>
                  <% if current_user.customer? && listing.verification != nil%>
                     <a class="btn btn-primary"> Verified: <%= listing.verification %></a>
                  <% elsif current_user.moderator? %>
                     <a href="/listings/<%= listing.id %>/verify" class="btn btn-primary">Verified: <%= listing.verification %></a>
                  <% else %>
                      <a class="btn btn-primary"> Verified: No </a>
                  <% end %>
              </div>
          </div>
      </div>
    <% end %>
  </div>
</div>


<%= will_paginate @listings %>

