<p id="notice"><%= notice %></p>


<% if @listing.images.length != 0 %>

      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <% @listing.images.each_with_index do |img, index | %>
              <% if index == 0 %>
              <div class="carousel-item active">
                <%= image_tag img.thumb.url %>
                </div>
              <% else %>
              <div class="carousel-item">
                <%= image_tag img.thumb.url %>
                </div>
              <% end %>
            <% end %>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
      </div>

        

<% end %>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="list-details">
          <p>
            <strong>Name:</strong>
            <%= @listing.name %>
          </p>

          <p>
            <strong>Place type:</strong>
            <%= @listing.place_type %>
          </p>

          <p>
            <strong>Property type:</strong>
            <%= @listing.property_type %>
          </p>

          <p>
            <strong>Room number:</strong>
            <%= @listing.room_number %>
          </p>

          <p>
            <strong>Bed number:</strong>
            <%= @listing.bed_number %>
          </p>

          <p>
            <strong>Guest number:</strong>
            <%= @listing.guest_number %>
          </p>

          <p>
            <strong>Country:</strong>
            <%= @listing.country %>
          </p>

          <p>
            <strong>State:</strong>
            <%= @listing.state %>
          </p>

          <p>
            <strong>City:</strong>
            <%= @listing.city %>
          </p>

          <p>
            <strong>Zipcode:</strong>
            <%= @listing.zipcode %>
          </p>

          <p>
            <strong>Address:</strong>
            <%= @listing.address %>
          </p>

          <p>
            <strong>Price:</strong>
            <%= @listing.price %>
          </p>

          <p>
            <strong>Description:</strong>
            <%= @listing.description %>
          </p>

          <p>
            <strong>User:</strong>
            <%= @listing.user.fname %>
          </p>
        </div>
    </div>
    <div class="col-sm">
        <div class="reserve-details">
          <a class="btn btn-primary" href="/listings/<%=@listing.id%>/reservations/new"> Reserve Now </a>
            <% flash.each do |key, value| %>
                  <div class="alert alert-<%=key%>">
                        <%= value %>
                  </div>
            <% end %>
        </div>
    </div>
  </div>
</div>
<% if current_user.id == @listing.user_id || current_user.moderator? %>
  <%= link_to 'Edit', edit_listing_path(@listing), id: "edit_page", remote: true %> |
  <%= link_to 'Back', listings_path %>  
  <%= link_to 'Destroy', @listing, method: :delete, data: { confirm: 'Are you sure?', class: 'delete_listing' } %>

      <% else %>

<%= link_to 'Back', listings_path %>


<% end %>




<div id="render_edit"></div>


<!-- <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script> -->

<script type="text/javascript">

// console.log("hello");
// let edit_page = $("#edit_page");
// console.log(edit_page.serialize());
// let id = '<%= @listing.id %>';


// edit_page.click(function(event){
//   console.log("page is clicekd");
//   event.preventDefault();
//   $.ajax({
//     url: "listing/#{id}/edit",
//     type: 'GET',
//     data: this.serialize(),
//     dataType: 'json',
//     error: function() {
//       console.log("something went wrong");
//     },
//     success: function(data) {
//       console.log("working!!");
//     }
//   });
// });




// $("#city-search").on("keyup", function(){
//   autocomplete()
// });

// function autocomplete(){
//   $.ajax({
//     url: '/listings/:id/edit',
//     type: 'POST',
//     data: $("#city-search").serialize(), //takes the form data and authenticity toke and converts it into a standard URL
//     dataType: 'json', //specify what type of data you're expecting back from the servers
//     error: function() {
//         console.log("Something went wrong");
//     },
//     success: function(data) {
//       $("#list").html("");

//       data.forEach(function(element) {
//         var option = document.createElement("option");
//         option.value = element;

//         //append option to list
//         $("#list").append(option);
//       });
//     }
//   });
// }



</script>

